<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image" href="assets/ucashLogo.svg"> <!--set icon in title bar-->
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper flex flex-col justify-center align-center mx-10 mt-10 mb-20">
        <h1 class="font-bold text-xl">Dashboard</h1>
        <div class="cards my-10 flex justify-center align-center">
            <a href="">
                <div class="entry hover:-translate-y-0.5 hover:scale-105 duration-300 mx-8 relative h-[209px] w-[268px] bg-[#54E346] rounded-lg flex flex-col items-center ">
                    <h2 class="font-semibold h-16 absolute top-2 left-4  text-white">Entry</h2>
                    <img class="absolute top-12 left-50%" src="../assets/dasboard/entry.svg" alt="iconEntry">
                    <img class="absolute bottom-0" src="../assets/dasboard/formeCard.svg" alt="curve">
                    <p class="font-bold text-xl absolute bottom-4 text-white">800k XAF</p>
                </div>
            </a>
           <a href="">
            <div class="Debursement hover:-translate-y-0.5 hover:scale-105 duration-300 mx-8 relative h-[209px] w-[268px] bg-[#74BBFF] rounded-lg flex flex-col items-center ">
                <h2 class="font-semibold h-16 absolute top-2 left-4  text-white">Debursement</h2>
                <img class="absolute top-12 left-50%" src="../assets/dasboard/debursement.svg" alt="iconEntry">
                <img class="absolute bottom-0" src="../assets/dasboard/formeCard.svg" alt="curve">
                <p class="font-bold text-xl absolute bottom-4 text-white">150k XAF</p>
            </div>
           </a>
           <a href="">
            <div class="Transaction hover:-translate-y-0.5 hover:scale-105 duration-300 mx-8 relative h-[209px] w-[268px] bg-[#252525] rounded-lg flex flex-col items-center ">
                <h2 class="font-semibold h-16 absolute top-2 left-4  text-white">Transaction</h2>
                <img class="absolute top-12 left-50%" src="../assets/dasboard/transaction.svg" alt="iconEntry">
                <img class="absolute bottom-0" src="../assets/dasboard/formeCard.svg" alt="curve">
                <p class="font-bold text-xl absolute bottom-4 text-white">50</p>
            </div>
           </a>
            <a href="">
                <div class="status hover:-translate-y-0.5 hover:scale-105 duration-300 mx-8 relative h-[209px] w-[268px] bg-[#0E49B5] rounded-lg flex flex-col items-center ">
                    <h2 class="font-semibold h-16 absolute top-2 left-4  text-white">Status</h2>
                    <img class="absolute top-12 left-50%" src="../assets/dasboard/status.svg" alt="iconEntry">
                    <img class="absolute bottom-0" src="../assets/dasboard/formeCard.svg" alt="curve">
                    <p class="font-bold text-xl absolute bottom-4 text-white">60 users</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>