<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image" href="assets/ucashLogo.svg"> <!--set icon in title bar-->
    <title>Navbar</title>
</head>
<body>
    <div class="wrapper flex justify-start mx-4">
        <a href="/">
            <div class="logoUcash my-2">
                <img src="../assets/logoucash.svg" alt="logoUcash">
            </div>
        </a>
        <div class="lang_Notif flex absolute top-2 right-5">
           <a href="">
            <div class="language mx-8 relative top-4">
                <img src="../assets/language.svg" alt="iconlanguage">
                <p class="text-md relative -top-5 -right-6">fr</p>
            </div>
           </a>
           <a href="">
            <div class="notification mx-4 relative top-4">
                <img src="../assets/notification.svg" alt="iconNotification">
            </div>
           </a>
           <a href="">
            <div class="user mx-4">
                <img src="../assets/user.svg" alt="iconUser">
            </div>
           </a>
        </div>
    </div>
   
</body>
</html>