<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image" href="assets/ucashLogo.svg"> <!--set icon in title bar-->
    <title>services</title>
</head>
<body>
    <div class="wrapper flex flex-col justify-center align-center m-10">
        <h1 class="font-bold text-xl mb-5">Services</h1>
        <div class="cardservices mt-4 flex justify-center align-center">
            <a href="">
                <div class="mobileDev  hover:-translate-y-0.5 hover:scale-105 duration-300  mx-16 rounded-lg flex flex-col items-center">
                    <div class="  relative h-[209px] w-[268px] ">
                        <img class="h-full w-full rounded-lg" src="../assets/dasboard/mobile-app-development.png" alt="iconEntry">
                    </div>
                    <div class="description w-[268px]">
                        <h2 class="font-semibold text-lg my-2">Mobile development</h2>
                        <p class="text-light text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="mobileDev  hover:-translate-y-0.5 hover:scale-105 duration-300  mx-16 rounded-lg flex flex-col items-center">
                    <div class="  relative h-[209px] w-[268px] ">
                        <img class="h-full w-full rounded-lg" src="../assets/dasboard/Develop-Website.jpg" alt="iconEntry">
                    </div>
                    <div class="description w-[268px]">
                        <h2 class="font-semibold text-lg my-2">Web development</h2>
                        <p class="text-light text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="ui/uxDesign  hover:-translate-y-0.5 hover:scale-105 duration-300  mx-16 rounded-lg flex flex-col items-center">
                    <div class="  relative h-[209px] w-[268px] ">
                        <img class="h-full w-full rounded-lg" src="../assets/dasboard/youtubeserv.png" alt="iconEntry">
                    </div>
                    <div class="description w-[268px]">
                        <h2 class="font-semibold text-lg my-2">Ui/ux design</h2>
                        <p class="text-light text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </a>
            <div class="ui/uxDesign relative flex flex-col items-center">
               <a href="">
                <img class="h-full w-full mt-20" src="../assets/dasboard/add.svg" alt="iconEntry">
               </a>
            </div>
        </div>
    </div>
</body>
</html>